body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('background.jpg');
}


.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #024950;
    color: white;
    padding: 25px 0;
}

header .logo h1 {
    margin: 0;
    display: inline-block;
}

header nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: whitesmoke;
    font-size: 25px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #60bdc6;
}

/* Outer Container Styles */
.outer-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 5px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #024950;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #042025;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0fa4af;
}

.error-message {
    color: red;
    margin-top: 10px;
}
footer {
    background-color: #042025;
    color:#f4f4f4;
    text-align: center;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size:15px ;
}